.polytrack {
    padding-top: 0;
    margin-top:0px;
}

.polytrack h1 {
    font-size:40px;
    background: -webkit-linear-gradient(#b17ddb, #f07070);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

.polytrack p {
    font-size:25px;
    background: -webkit-linear-gradient(#b17ddb, #f07070);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
}
.polytrack iframe {
    width:1000px;
    height:600px;
}

.basket-random {
    margin-top:50px;
}

.basket-random h1 {
    font-size:40px;
    background: -webkit-linear-gradient(#db987d, #f07070);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

.basket-random p {
    font-size:25px;
    background: -webkit-linear-gradient(#db987d, #f07070);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
}

.basket-random iframe {
    width:1000px;
    height:600px;
}

.slope {
    margin-top:50px;
}

.slope h1 {
    font-size:40px;
    background: -webkit-linear-gradient(90deg, #86db7d, #10601c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

.slope p {
    font-size:25px;
    background: -webkit-linear-gradient(90deg, #86db7d, #10601c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
}

.slope iframe {
    width:1000px;
    height:600px;
}

.game-header {
    margin-top:50px;
}

.game-header h1 {
    font-size: 50px;
    background: -webkit-linear-gradient(#db887d, #f0ea70);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nevada iframe {
    width: 30rem;
    height: 8rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.nevada {
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding: 0;
}